<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>りんご</string>
		<key>imageName</key>
		<string>apple.png</string>
		<key>points</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>バナナ</string>
		<key>imageName</key>
		<string>banana.png</string>
		<key>points</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>みかん</string>
		<key>imageName</key>
		<string>mikan.png</string>
		<key>points</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>ブドウ</string>
		<key>imageName</key>
		<string>budo.png</string>
		<key>points</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>もも</string>
		<key>imageName</key>
		<string>peach.png</string>
		<key>points</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>パイナップル</string>
		<key>imageName</key>
		<string>pineapple.png</string>
		<key>points</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>なすび</string>
		<key>imageName</key>
		<string>nasu.png</string>
		<key>points</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>たまねぎ</string>
		<key>imageName</key>
		<string>onion.png</string>
		<key>points</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>にんじん</string>
		<key>imageName</key>
		<string>carrot.png</string>
		<key>points</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>きゅうり</string>
		<key>imageName</key>
		<string>kyuri.png</string>
		<key>points</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>えんどうまめ</string>
		<key>imageName</key>
		<string>endomame.png</string>
		<key>points</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>ピーマン</string>
		<key>imageName</key>
		<string>pman.png</string>
		<key>points</key>
		<integer>180</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>しめじ</string>
		<key>imageName</key>
		<string>shimeji.png</string>
		<key>points</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>すいか</string>
		<key>imageName</key>
		<string>suika.png</string>
		<key>points</key>
		<integer>300</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>コーラ</string>
		<key>imageName</key>
		<string>cola.png</string>
		<key>points</key>
		<integer>300</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>カレー</string>
		<key>imageName</key>
		<string>curry.png</string>
		<key>points</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>ポテチ</string>
		<key>imageName</key>
		<string>potechi.png</string>
		<key>points</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>name</key>
		<string>時計</string>
		<key>imageName</key>
		<string>clock.png</string>
		<key>points</key>
		<integer>480</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>name</key>
		<string>サッカーボール</string>
		<key>imageName</key>
		<string>soccerball.png</string>
		<key>points</key>
		<integer>560</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>name</key>
		<string>悪魔の実</string>
		<key>imageName</key>
		<string>akuma.png</string>
		<key>points</key>
		<integer>800</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>name</key>
		<string>秘伝の書</string>
		<key>imageName</key>
		<string>maruhi.png</string>
		<key>points</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>name</key>
		<string>めがね</string>
		<key>imageName</key>
		<string>glasses.png</string>
		<key>points</key>
		<integer>900</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>name</key>
		<string>iPhone</string>
		<key>imageName</key>
		<string>ipone.png</string>
		<key>points</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>name</key>
		<string>おうかん</string>
		<key>imageName</key>
		<string>crown.png</string>
		<key>points</key>
		<integer>5000</integer>
	</dict>
</array>
</plist>
