<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fruit_id</key>
		<integer>0</integer>
		<key>frequency</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>1</integer>
		<key>frequency</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>2</integer>
		<key>frequency</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>3</integer>
		<key>frequency</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>4</integer>
		<key>frequency</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>5</integer>
		<key>frequency</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
