<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fruit_id</key>
		<integer>13</integer>
		<key>frequency</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>14</integer>
		<key>frequency</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>15</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>16</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>17</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>18</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>19</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>20</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>21</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>22</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>fruit_id</key>
		<integer>23</integer>
		<key>frequency</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
