<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>fruit_id</key>
		<string>0</string>
		<key>frequency</key>
		<string>10</string>
	</dict>
	<key>New item - 2</key>
	<dict>
		<key>fruit_id</key>
		<string>1</string>
		<key>frequency</key>
		<string>10</string>
	</dict>
	<key>New item - 3</key>
	<dict>
		<key>fruit_id</key>
		<string>2</string>
		<key>frequency</key>
		<string>10</string>
	</dict>
	<key>New item - 4</key>
	<dict>
		<key>fruit_id</key>
		<string>3</string>
		<key>frequency</key>
		<string>10</string>
	</dict>
	<key>New item - 5</key>
	<dict>
		<key>fruit_id</key>
		<string>4</string>
		<key>frequency</key>
		<string>10</string>
	</dict>
	<key>New item - 6</key>
	<dict>
		<key>fruit_id</key>
		<string>5</string>
		<key>frequency</key>
		<string>5</string>
	</dict>
	<key>New item - 7</key>
	<dict>
		<key>fruit_id</key>
		<string>6</string>
		<key>frequency</key>
		<string>15</string>
	</dict>
	<key>New item - 8</key>
	<dict>
		<key>fruit_id</key>
		<string>7</string>
		<key>frequency</key>
		<string>15</string>
	</dict>
	<key>New item - 9</key>
	<dict>
		<key>fruit_id</key>
		<string>8</string>
		<key>frequency</key>
		<string>15</string>
	</dict>
</dict>
</plist>
